<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleDevelopmentRegion</key>
   <string>English</string>
   <key>CFBundleExecutable</key>
   <string>LabVIEW 14.0 Runtime</string>
	<key>CFBundleIdentifier</key>
	<string>com.ni.labviewRuntime</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleName</key>
   <string>LabVIEW 14.0 Runtime</string>
   <key>CFBundleGetInfoString</key>
   <string>LabVIEW Run Time Engine 14.0.0f4, Copyright (c) 2003-2014 National Instruments Corporation. All Rights Reserved.</string>
   <key>CFBundlePackageType</key>
   <string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>LVAP</string>
   <key>CFBundleShortVersionString</key>
   <string>14.0.0</string>
	<key>CFBundleVersion</key>
	<string>14.0.0f4</string>
   <key>NSHumanReadableCopyright</key>
   <string>Copyright (c) 2003-2014 National Instruments Corporation. All Rights Reserved.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvsc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVStateChart.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW State Chart</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvrbt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVRBT.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW NXT Robot Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVProvider.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Provider</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VI.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW VI Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LVIN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>llb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LLB.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW LLB Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LVAR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ctl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>control.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Control Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LVCC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xctl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XControl.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW XControl Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mnu</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Menu.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Menu Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LMNU</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lsb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVSB.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Subroutine Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LVSB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Datalog.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Datalog Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LVDL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vit</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VITemplate.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW VI Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sVIN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ctt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CtlTemplate.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Control Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>sVCC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>app Preferences</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pref.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Preferences</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>pref</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>UIProvider.icns</string>
			<key>CFBundleTypeName</key>
			<string>MAX UI Provider</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BNDL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Menu.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Runtime Menu</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvproj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVProject.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Project File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvlib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVLibrary.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xnode</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XNode.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW XNode Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvclass</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVClass.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Class</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aliases</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVProject.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Project Aliases File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvpls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVProject.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Project lvpls File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lvlibp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LVLibp.icns</string>
			<key>CFBundleTypeName</key>
			<string>LabVIEW Packed Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>LabVIEW.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ni.labviewRuntime</string>
	<key>CFBundleSignature</key>
	<string>LVAP</string>
	<key>CFBundleVersion</key>
	<string>14.0.0f4</string>   <key>LABVIEW_COMPILER_VERSION</key>
   <string>14,0,0,kRel,0</string>
   <key>LABVIEW_VERSION</key>
   <string>14.0.0f4</string>
   <key>LABVIEW_TIMESTAMP</key>
   <string>2014/06/24:18:22:40</string>
   <key>LVDIST_VERSION</key>
   <string>14.0.0f4</string>
   <key>LVDIST_TIMESTAMP</key>
   <string>2014/06/24:22:41:12</string></dict>
</plist>
