<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleDevelopmentRegion</key>
   <string>English</string>
   <key>CFBundleExecutable</key>
   <string>osgDB</string>
   <key>CFBundleIdentifier</key>
   <string>com.ni.framework.osgDB</string>
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   <key>CFBundleName</key>
   <string>osgDB</string>
   <key>CFBundleGetInfoString</key>
   <string>Open Scene Graph Database 2.8.3f11, Copyright (c) 2003-2014 National Instruments Corporation. All Rights Reserved.</string>
   <key>CFBundlePackageType</key>
   <string>FMWK</string>
   <key>CFBundleSignature</key>
   <string>????</string>
   <key>CFBundleShortVersionString</key>
   <string>2.8.3</string>
   <key>CFBundleVersion</key>
   <string>2.8.3f11</string>
   <key>NSHumanReadableCopyright</key>
   <string>Copyright (c) 2003-2014 National Instruments Corporation. All Rights Reserved.</string>
</dict>
</plist>
